.sms-form {
    text-align: left;
    padding: 1em;
  }
.sms-form label {
    display: block;
}
.sms-form input,
.sms-form textarea {
    font-size: 1em;
    width: 350px;
    box-sizing: content-box;
}
.sms-form div {
    margin-bottom: 0.5em;
}
.sms-form button {
    display: block;
    margin: 0 auto;
    padding: 5px 0px;
    border-radius: 20px;
    font-size: 0.8em;
    font-weight: 600;
    color: rgb(142,191,112);
    border-color: rgb(142,191,112);
    width: 50%;
}
.error{
    font-size: 0.8em;
    color: red;
}

.inputFields > textarea {
    resize: none;
}

.inputFields > * {
    display: block;
    margin-top: 10px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(170,170,170);
    padding: 10px;
}

#charcount {
    border: none;   
    text-align: right; 
    padding: 0;
    font-size: 14px;
    color:  rgb(170,170,170);
    position: relative;
    bottom: 10px;
}